

<ion-content padding class="background">
  
 <img class="circle-pic" 
      src="../../assets/p7.jpg"
     
      />
          

<ion-item class="mx_width">
    <ion-icon slot="start" name="person"></ion-icon>
  <ion-label position="floating">UserName</ion-label>
  <ion-input size="width:40px"></ion-input>
</ion-item>
<ion-item class="mx_width">
    <ion-icon slot="start" name="lock"></ion-icon>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="Password"></ion-input>
</ion-item>

<ion-button class="login" shape="round" color="dark" >Login</ion-button>
<ion-button class="signup" shape="round" fill="outline" color="warning">Sign Up</ion-button>
<button class="skip">Skip</button>
<ion-button class="forget_pass" fill="clear" color="warning">Forget Password</ion-button>
</ion-content>