
ion-content.background{
 //   --background: url(../../assets/p1.jpg) 0 0/100% 100% no-repeat;
 --background: url(../../assets/p3.jpg) 0 0/100% 100% no-repeat;
 position: relative;}

ion-item.mx_width{max-width:500px;margin:0px auto}

.circle-pic{
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 20%;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;}

.login{ width:250px;
    height:40px;
    margin-bottom: 10px;
    margin-top: 60px; 
     margin-left: auto;
    margin-right: auto;
    display: block;}

.signup{ width:250px;
        height:40px;
        margin-bottom: 20px;
        margin-top: 10px;
         margin-left: auto;
        margin-right: auto;
        display: block;}

.skip{right: 10px;
     bottom: 10px;
     height:28px;
     padding: 2px 10px;
     border-radius:5px;
     color:#484848;
    position: absolute;
background: rgba(255, 255, 255, 0.5);
}

.forget_pass{left: 8px;
        bottom: 10px;
        height:20px;
       position: absolute;
       text-decoration: underline;}